<h2>User info</h2>



<h2>New book</h2>

<%= form_with model: @book do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>
<% end %>



<h2>Books</h2>

<table>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    
      <% @books.each do |books| %>
        <tr>
          <!--<td>< img_tag ></td>-->
          <td><%= link_to books.title, book_path(books.id) %></td>
          <td><%= books.body %></td>
        </tr>
        <% end %>
    </table>